In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

def read_zomato_dataset():
    hotels=pd.read_csv(r'C:\Users\Kissinger\Downloads\zomato.csv')
    return hotels
read_zomato_dataset()

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56247,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,Whitefield,Bar,NaN,Continental,"1,500",Pubs and bars
56248,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600,Pubs and bars
56249,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,"2,000",Pubs and bars
56250,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars

In [3]:
def remove_unwanted_columns():
    hotels = read_zomato_dataset()
    hotels.drop(['address','phone'], axis=1, inplace=True)
    return hotels

In [4]:
def rename_columns():
    #rename columns,  only these columns are allowed in the dataset
    # 1.	Id
    # 2.	Name
    # 3.	online_order
    # 4.	book_table
    # 5.	rating
    # 6.	votes
    # 7.	location
    # 8.	rest_type
    # 9.	dish_liked
    # 10.	cuisines
    # 11.	approx_cost
    # 12.	type
    hotels = remove_unwanted_columns()
    hotels.columns = ['name','online_order','book_table','rating','votes','location','rest_type','dish_liked','cuisines','approx_cost','type']
    return hotels

In [5]:
#handle  null values of each column
def null_value_check():
    hotels=rename_columns()
    
    #deleting null values of name column
    
    hotels.drop(hotels[hotels['name'].isna()].index, axis=0, inplace=True)
    
    #handling null values of online_order
    hotels['online_order'].fillna('NA', inplace=True)
    
    #handling null values of book_table
    hotels['book_table'].fillna('NA', inplace=True)
    
    #handling null values of rating
    hotels.drop(hotels[hotels['rating'].isna()].index, axis=0, inplace=True)
    
    #handling null values of votes
    hotels.drop(hotels[hotels['votes'].isna()].index, axis=0, inplace=True)
    
    #handling null values of location
    hotels['location'].fillna('NA', inplace=True)
    
    #handling null values of rest_type
    hotels['rest_type'].fillna('NA', inplace=True)
    
    #handling null values of dishliked
    hotels['dish_liked'].fillna('NA', inplace=True)
    
    #handling null values of cuisines
    hotels['cuisines'].fillna('NA', inplace=True)
    
    #handling null values of approxcost
    hotels.drop(hotels[hotels['approx_cost'].isna()].index, axis=0, inplace=True)
    
    #handling null values of type
    hotels['type'].fillna('NA', inplace=True)
    return hotels
null_value_check()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56244,The Farm House Bar n Grill,No,No,3.7 /5,34,Whitefield,"Casual Dining, Bar",NA,"North Indian, Continental",800,Pubs and bars
56246,Bhagini,No,No,2.5 /5,81,Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",800,Pubs and bars
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars

In [6]:
#find duplicates in the dataset
def find_duplicates():   
    #call null_value_check() function to get dataframe
    hotels=null_value_check()
    #droping the duplicates value keeping the first
    hotels.drop_duplicates(keep='first',inplace=True)
  
    return hotels

In [7]:
#removing irrelevant text from all the columns
def removing_irrelevant_text():
    #call find_duplicates() function to get dataframe
    hotels = find_duplicates()
    for column in hotels.columns:
        hotels.drop(hotels[hotels[column].str.contains('Rated', na=False)].index, axis=0, inplace=True)
        hotels.drop(hotels[hotels[column].str.contains('RATED', na=False)].index, axis=0, inplace=True)
    return hotels
removing_irrelevant_text()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56244,The Farm House Bar n Grill,No,No,3.7 /5,34,Whitefield,"Casual Dining, Bar",NA,"North Indian, Continental",800,Pubs and bars
56246,Bhagini,No,No,2.5 /5,81,Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",800,Pubs and bars
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars

In [8]:
#check for unique values in each column and handle the irrelevant values
def check_for_unique_values():
    #call removing_irrelevant_text() function to get dataframe
    hotels=removing_irrelevant_text()
    
    hotels.drop(hotels[~(hotels['online_order'].str.contains('Yes') | hotels['online_order'].str.contains('No'))].index, axis=0, inplace=True)
    hotels['rating'] = hotels['rating'].str.replace('/5','')
    hotels.loc[hotels['rating']=='NEW', 'rating']=0
    hotels.loc[hotels['rating']=='-', 'rating']=0
    return hotels

In [12]:
#remove the unknown character from the dataset and export it to "zomatocleaned.csv"
def remove_the_unknown_character():
    #call check_for_unique_values() function to get dataframe
    dataframe=check_for_unique_values()

    #remove unknown character from dataset
    dataframe['name'] = dataframe['name'].str.replace('Ã','',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Â','',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('ƒ','',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('‚','',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('©','',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Caf @ ','Caf',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Caf & ','Caf',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('24x7','24',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Caf Down The Alley','CafDown The Alley',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('x ','',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('DeliBox.in','DeliBoin',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Caf ','Caf',regex=True)
    dataframe['name'] = dataframe['name'].str.replace("x's",'s',regex=True)
    dataframe['name'] = dataframe['name'].str.replace("Cro»te",'Crote',regex=True)
    dataframe['name'] = dataframe['name'].str.replace("Rªveur",'Rveur',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Pinx- ','Pinx',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('P¢tisserie','Ptisserie',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Caf- ','Caf',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Bo-','Bo',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Pi±ata','Piata',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('100°C','100C',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Cr¨me','Crme',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Ony- ','Ony',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Delu- ','Delu',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Mum’s','Mums',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Sant Spa','SantSpa',regex=True)
    dataframe['name'] = dataframe['name'].str.replace('Brother’s','Brothers',regex=True)
    
    #export cleaned Dataset to newcsv file named "zomatocleaned.csv"
    dataframe.to_csv(r'C:\Users\Kissinger\Downloads\zomatocleaned.csv', index = False)
    
    return dataframe
remove_the_unknown_character()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56244,The Farm House Bar n Grill,No,No,3.7,34,Whitefield,"Casual Dining, Bar",NA,"North Indian, Continental",800,Pubs and bars
56246,Bhagini,No,No,2.5,81,Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",800,Pubs and bars
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars